<footer class="footer text-center border-top m-0 py-3">
    <p class="footer-text mb-2\">Made by <span class="fw-bold">Tolase Kelvin Adegbite</span></p>
    <p class="footer-text mb-0">
        <%= link_to '#', class:"text-dark text-decoration-none" do %>
            Github
            <i class="bi bi-github fs-4"></i>
        <% end %>
    </p>
</footer>