<footer class="footer text-center border-top m-0 py-3">
    <p class="footer-text mb-0">
        <%= link_to 'https://github.com/tolaseadegbite', class:"text-dark text-decoration-none" do %>
            Github
            <i class="bi bi-github fs-4"></i>
        <% end %>
    </p>
    <p class="footer-text mb-2">Made by <span class="fw-bold"><%= link_to 'Tolase Kelvin', 'https://github.com/tolaseadegbite', class: "text-decoration-none text-dark" %></span> &copy; <%= Time.current.year %></p>
</footer>