<% provide(:title, "My projects") %>

<div class="container py-5 text-center">
    <%= link_to "New project", new_project_path, class: "btn btn-dark rounded-pill mb-3" %>
    <div class="project-copy">
        <h1>Projects</h1>
        <p class="text-muted">I have worked over the months on different levels of rails projects. The experienced acquired from these has equipped me with enough knowledge totake on any rails app.</p>
    </div>

    <div id="projects" class="row">
        <%= render @projects %>
    </div>

    <%= turbo_frame_tag :pagination, loading: :lazy, src: projects_path(format: :turbo_streams) %>
</div>