<% provide(:title, 'New project') %>

<div class="container py-5" style="max-width: 540px">
    <div class="project-copy">
        <h1 class="mb-3">New Project</h1>

        <%= render 'form' %>
    </div>
</div>