<% provide(:title, @tag.name) %>

<div class="container py-5 text-center">
  <%= link_to "New tag", new_tag_path, class: "btn btn-dark rounded-pill mb-3" %>
  <h2 class="pb-3"><%= @tag.name %></h2>
  <div class="row">
      <% @tag.projects.each do |project| %>
        <%= render partial: 'projects/project', locals: { project: project } %>
      <% end %>
  </div>
</div>
