<% provide(:title, 'New post') %>

<div class="container py-5" style="max-width: 540px">
    <%= link_to :back, class: "text-dark" do %>
        <span><i class="bi bi-arrow-left fs-1"></i></span>
        <%# <span class="back">back</span> %>
    <% end %>
    
    <div class="project-copy">
        <h1 class="mb-3">New Post</h1>

        <%= render 'form' %>
    </div>
</div>