body {
    font-family: 'Open Sans', sans-serif;
}

p {
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    // font-size: 15px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 45px !important;
}

.home-callout > h1 > span {
    font-family: monospace;
}

.main-profile-section {
    margin: 3rem 0;
}

.pagination {
    justify-content: center;
    li {
        // padding: 10px;
        border: 1px solid #000;
        a {
            padding: 10px;
            color: #000;
            text-decoration: none;
            &:hover, &:focus {
                background-color: #000;
                color: #fff;
            }
        }
        
    }
}

li.active {
    background-color: #000;
    color: #fff;
    a {
        color: #fff;
    }
}
// input.form-control {
//     border: 0;
//     outline: none;
//     &:hover,&:focus {
//         box-shadow: none;
//     }
// }